<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Serverside Rendering</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="h-full w-full bg-zinc-900 p-10 text-white">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/">Home</a>
        </div>
      <h1 class="text-3xl mb-3 tracking-tighter">Update User</h1>
      <form action="/update/<%= user._id%>" method="post">
        <input
          type="text"
          placeholder="name"
          name="name"
          class="px-5 py-3 bg-zinc-800 rounded-lg outline-none"
          value="<%=user.name%>"
        />
        
        <input
          type="text"
          placeholder="email"
          name="email"
          class="px-5 py-3 bg-zinc-800 rounded-lg outline-none"
          value="<%=user.email%>"
        />
        <input
          type="text"
          placeholder="image url"
          name="image"
          value="<%=user.image%>"
          class="px-5 py-3 bg-zinc-800 rounded-lg outline-none"
        />
        <input
          type="submit"
          value="Update User"
          class="bg-yellow-600 px-5 py-3 rounded-lg outline-none cursor-pointer"
        />
      </form>
    </div>
  </body>
</html>
